.container {
    display: grid;
    margin-left: 100px;
}
.container a{
    text-decoration: none;
    color: black;
}

.poster {
    display: flex;
    align-items: center;
    gap: 10px;

    /* border: 1px solid black; */
}

.tituloPublicacion {
    top: 0;
    position: absolute;
}