.container {
    width: 70%;
    background-color: #f5f2e4;
    display: flex;
    justify-content: space-evenly;
    margin: 70px auto;
    border-radius: 40px;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px auto;
    padding: 25px;
}

.titulo {
    font-size: 50px;
    font-weight: bold;
}

.descripcion {
    margin-top: 20px;
}
