:root {
  --verde: #1ADB1A;
  --color-fondo: #FFFFFF;
  --color-secundario: #56A3A6;
  --color-texto: #212121;
  --color-contraste: #F694C1;
  --color-oscuro: #153B50;
  --default-font: Arial, sans-serif;
}